{{#extends 'base'}}
{{#block "content"}}
<table class="table">
    <thead>
        <tr>
            <th>Party Products ID</th>
            <th>Name</th>
            <th>Unit Price</th>
            <th>Description</th>
            <th>Quantity in stock</th>
            <th>Quantity total</th>
            <th>Quantity left</th>
        </tr>

    </thead>
    <tbody>
        {{#each partyproducts}}
            <tr>
                <td>
                    {{this.partyproducts_id}}
                </td>
                <td>
                    {{this.name}}
                </td>
                <td>
                    {{this.unit_price}}
                </td>
                <td>
                    {{this.description}}
                </td>
                <td>
                    {{this.quantity_in_stock}}
                </td>
                <td>
                    {{this.quantity_total}}
                </td>
                <td>
                    {{this.quantity_left}}
                </td>
                <td>
                <a href="/products/{{this.partyproducts_id}}/update" class="btn btn-primary btn-sm">Update</a>
                <a href="/products/{{this.partyproducts_id}}/delete" class="btn btn-danger btn-sm">Delete</a>
            </td>
            </tr>
        {{/each}}
    </tbody>
</table>


{{/block}}
{{/extends}}